@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
    text-align: center;
    font-family: 'Lato', sans-serif;
}

.legend-rect {
    stroke-width: 1;
    stroke: black;
}

#tooltip {
    font-size: 12px;
    border-radius: .2rem;
}